<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MIUR - Corso Competenze Digitali</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://digit.cms.di.unipi.it/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://digit.cms.di.unipi.it/node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://digit.cms.di.unipi.it/styles/main.css">
    <script src="js/html2canvas.min.js"></script>
    <script src="js/jquery-3.0.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="final.js"></script>
    <link rel="stylesheet" href="final.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <script>
        //Step 1 create the data structure with the elements of the tutorial
        //element, backgroundColor, backgroundColor2, description
        var array = [];
        //First toolTip
        array.push(new genericNode(null,
            null, null, '#ffff99', "Gentile docente, <br/> Benvenuto sulla piattaforma di apprendimento del Corso per le Competenze Digitali. <br> Clicki dove indica la freccia per iniziare questa visita guidata della pagina web", "#fff5ad"));
        $(document).ready(function() {
            //First element of the tutorial
            array.push(new genericNode(document.getElementById("home"), "bottom", '#666666', '#ffff99', "In questa pagina si trovano le news sul corso.</br> Si ricordi di darci un\'occhiata ogni tanto", "#fff5ad"));
            //Second element of the tutorial
            array.push(new genericNode(document.getElementById("materiale"), "bottom", '#666666', '#ffff99', "In questa sezione sono disponibili alcune dispense ed alcuni videocorsi. Le videolezioni sono tenute dal professor <a href=\"http://www.di.univr.it/?ent=persona&id=8814&lang=it/\"> Romeo Rizzi</a> dell'Universit&agrave; di Verona e spaziano da guide introduttive all'utilizzo della piattaforma fino a soluzioni commentate di vecchie edizioni scolastiche per arrivare a lezioni di algoritmica di livello universitario", "#fff5ad"));
            //Third element of the tutorial
            array.push(new genericNode(document.getElementById("problemi"), "bottom", '#666666', '#ffff99', "In questa sezione sono disponibili problemi di programmazione, da svolgere in linguaggio C/C++ o Pascal. Questi problemi sono tratti da diverse fasi delle Olimpiadi, dalle selezioni territoriali alle finali nazionali e anche olimpiadi internazionali. &Egrave; proprio su questa tipologia di problemi che verter&agrave; la prova finale (cosiddetta miniolimpiade)", "#fff5ad"));
            //Fourth element of the tutorial
            array.push(new genericNode(document.getElementById("quiz"), "bottom", '#666666', '#ffff99', 'In questa parte si trovano dei quiz interattivi, presi dalle selezioni scolastiche delle Olimpiadi di Informatica.</br> Questo tipo di esercizi, sebbene utili al fine di preparare i ragazzi alla prima fase del processo di selezione della squadra olimpica italiana, non sono oggetto dell\'esame finale.', "#fff5ad"));
            //Sixth element of the tutorial
            array.push(new genericNode(document.getElementById("forum"), "bottom", '#666666', '#ffff99', 'Clicando sul bottone &ldquo;Forum&rdquo; si accede ad una pagina dedicata allo scambio di opinioni fra i vari utenti e gli amministratori della pagina (tutor agli allenamenti dei &ldquo;Probabili Olimpici&rdquo;). &Egrave; in questa pagina che potr&agrave; segnalare eventuali difficolt&egrave; incontrate e trovare al pi&ugrave; presto una soluzione congeniale alle sue esigenze.', "#fff5ad"));
            //Seventh element of the tutorial
            array.push(new genericNode(document.getElementById("faq"), "bottom", '#666666', '#ffff99', 'La sezione &ldquo;FAQ&rdquo; &egrave; un elenco delle dieci domande fatte pi&ugrave; frequentemente. Le consigliamo di darci un\'occhiata', "#fff5ad"));
            //Eighth element of the tutorial
            array.push(new genericNode(document.getElementById("user"), "bottom", '#666666', '#ffff99', 'Qui trova il suo profilo, completo di dati personali e punteggio ottenuto, ed il bottone per il logout. Il tutorial è finito. Clicki sulla x in alto per iniziare ad utilizzare la piattaforma. Buona programmazione!', "#fff5ad"));
            tutGem(array, function() {
                alert('Chiusura tutorial');
            });
        });
    </script>

</head>

<body ng-app="cmsocial" class="ng-scope">
    <div id="MathJax_Message" style="display: none;"></div>
    <div class="navbar navbar-inverse navbar-fixed-top ng-isolate-scope">
        <div class="container">
            <div id="home" class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" ui-sref="overview" href="#/overview"><i class="fa fa-home fa-lg"></i> Home</a>
            </div>
            <div class="navbar-collapse collapse ng-scope" ng-controller="SignCtrl">
                <ul class="nav navbar-nav">
                    <li id="materiale" ng-class="{active: isActiveTab(5)}" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-align-justify fa-lg"></i> Materiale <b class="caret"></b>
          </a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="resources" href="#/resources"><i class="fa fa-list-ol fa-fw"></i> Materiale didattico</a></li>
                            <li><a ui-sref="video_pas" href="#/resources/pascal"><i class="fa fa-youtube-play fa-fw"></i> Videocorso Pascal (+ come inviare i sorgenti per la valutazione)</a></li>
                            <li><a ui-sref="video_cpp" href="#/resources/cpp"><i class="fa fa-youtube-play fa-fw"></i> Videocorso C (+ come inviare i sorgenti per la valutazione)</a></li>
                            <li><a ui-sref="video_dos" href="#/resources/dos"><i class="fa fa-youtube-play fa-fw"></i> Videocorso Prompt dei comandi in Windows</a></li>
                            <li><a ui-sref="video_alg" href="#/resources/algoritmi"><i class="fa fa-youtube-play fa-fw"></i> Videocorso di Algoritmi e Strutture Dati</a></li>
                            <li><a ui-sref="video_sel" href="#/resources/scolastiche"><i class="fa fa-youtube-play fa-fw"></i> Soluzioni commentate di selezioni scolastiche</a></li>
                        </ul>
                    </li>
                    <li ng-show="me.isLogged()" class="dropdown">
                        <a id="problemi" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-archive fa-lg"></i> Problemi di programmazione <b class="caret"></b>
          </a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="tasklist.page({pageNum: 1})" href="#/tasks/1"><i class="fa fa-list-ol fa-fw"></i> Tutti i problemi</a></li>
                            <!-- <li><a ui-sref="tags"><i class="fa fa-tag fa-fw"></i> Categorie</a></li> -->
                            <li><a ui-sref="taskdesc" href="#/taskdesc"><i class="fa fa-list-alt fa-fw"></i> Descrizione dei problemi</a></li>
                            <li><a ui-sref="ranking.page({ pageNum: 1 })" href="#/ranking/1"><i class="fa fa-trophy fa-lg"></i> Classifica</a></li>
                        </ul>
                    </li>
                    <li ng-show="me.isLogged()" class="dropdown">
                        <a id="quiz" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-pencil fa-fw"></i> Quiz <b class="caret"></b>
          </a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="tests" href="#/tests"><i class="fa fa-pencil fa-fw"></i> Scolastiche</a></li>
                        </ul>
                    </li>
                    <li>
                        <!-- ngIf: !me.isLogged() -->
                        <!-- ngIf: me.isLogged() --><a id="forum" ng-if="me.isLogged()" href="//forum.digit.cms.di.unipi.it/session/sso" class="ng-binding ng-scope"><i class="fa fa-comments fa-lg"></i> Forum</a>
                        <!-- end ngIf: me.isLogged() -->
                    </li>
                    <li><a id="faq" ui-sref="faq" href="#/faq"><i class="fa fa-question-circle fa-fw"></i> FAQ</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- ngIf: !me.isLogged() -->
                    <!-- ngIf: me.isLogged() -->
                    <li id="user" ng-if="me.isLogged()" class="dropdown ng-scope">
                        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-lg"></i>
            <i class="ng-binding">veluca</i>
            <b class="caret"></b>
          </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ui-sref="user.profile({userId: me.getUser().username})" class="ng-binding" href="#/user/veluca/profile">
                <i class="fa fa-list-ol fa-fw"></i>
                My user profile
              </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ng-click="signout()" class="ng-binding">
                <i class="fa fa-sign-out fa-fw"></i>
                Sign out
              </a>
                            </li>
                        </ul>
                    </li>
                    <!-- end ngIf: me.isLogged() -->
                </ul>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>
    <div class="notifications"></div>
    <!-- uiView: -->
    <div ui-view="" class="ng-scope" style="">
        <div class="ng-scope">
            <div class="container">
                <img width="100%" src="https://digit.cms.di.unipi.it/custom_images/miur_big.jpg">
            </div>
            <div class="jumbotron">
                <div class="container">
                    <h2>Corso Online per Potenziare le Competenze Digitali</h2>
                    <p>Benvenuto nella piattaforma ufficiale del corso per le competenze digitali.</p>
                </div>
            </div>
            <div class="container">
                <h2>News</h2>
                <ul>
                    <li class="new"><b>5 dicembre 2017</b> È aperta la settima edizione del corso.</li>
                    <li><b>19 giugno 2017.</b> È aperta la sesta edizione del corso.</li>
                    <li><b>21 aprile 2016.</b> È aperta la quinta edizione del corso.</li>
                    <li><b>18 ottobre 2015.</b> È aperta la quarta edizione del corso.</li>
                    <li><b>17 novembre 2014.</b> È aperta la terza edizione del corso.</li>
                    <li><b>17 febbraio 2014.</b> Sono in linea le prime videolezioni del corso di C, del corso di algoritmi e strutture dati e del corso di prompt dei comandi di windows; inoltre, sono in linea nuove videolezioni del corso di pascal.</li>
                    <li><b>14 gennaio 2014.</b> Sono in linea le prime videolezioni del corso di programmazione in Pascal (sotto "Materiale").</li>
                    <li><b>9 dicembre 2013.</b> Sono state mandate le credenziali per accedere alla <a href="http://cms.di.unipi.it/digit/">piattaforma di programmazione e forum</a>. Nella piattaforma è possibile accedere a tutti i problemi di programmazione delle olimpiadi, insieme a problemi dedicati ai docenti (e non accessibili dagli studenti). Se non avete ricevuto le credenziali mandate una mail a <a href="mailto:info@olimpiadi-informatica.it">info@olimpiadi-informatica.it</a>.</li>
                    <li><b>13 novembre 2013.</b> Sono in linea i primi contenuti del corso.</li>
                </ul>
            </div>
        </div>
    </div>
    <foot>
        <!--
<div>
  <div class="container">
    <hr>
    <small>
      Source code for this online judge system can be found <a href="https://github.com/algorithm-ninja/cmsocial" rel="author noreferrer" target="_blank">here</a>. It is based on <a href="http://github.com/cms-dev/cms/" rel="noreferrer" target="_blank">Contest Management System</a>. Both are released under the <a href="http://www.gnu.org/licenses/agpl" rel="license noreferrer" target="_blank">GNU Affero General Public License</a>.
    </small>
  </div>
</div>
-->
    </foot>

    <script src="https://digit.cms.di.unipi.it/node_modules/jquery/dist/jquery.js"></script>
    <script src="https://digit.cms.di.unipi.it/node_modules/bootstrap/dist/js/bootstrap.js"></script>



</body>

</html>
